<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user/index :: renderBody('Song', ~{this::.page-container})}">

<head>
	<title>Index</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#created").datepicker({
				dateFormat: 'dd/mm/yy'
			});
		});
		function setReleaseDate() {
			var currentDate = new Date();
			var day = currentDate.getDate();
			var month = currentDate.getMonth() + 1;
			var year = currentDate.getFullYear();

			if (day < 10) {
				day = '0' + day;
			}
			if (month < 10) {
				month = '0' + month;
			}

			var formattedDate = day + '/' + month + '/' + year;

			document.getElementById('releaseDate').value = formattedDate;
		}
	</script>
	<script>
		function validateForm() {
			var fileMusic = document.getElementsByName("fileMusic")[0].files[0];
			var fileImage = document.getElementsByName("fileImage")[0].files[0];
			if (!fileMusic) {
				alert("File âm nhạc không được rỗng");
				return false; // Ngăn chặn việc gửi biểu mẫu nếu file âm nhạc rỗng
			}
			if (!fileImage) {
				alert("File hình ảnh không được rỗng");
				return false; // Ngăn chặn việc gửi biểu mẫu nếu file hình ảnh rỗng
			}
			return true; // Cho phép gửi biểu mẫu nếu cả hai file không rỗng
		}
	</script>
</head>

<body>
	<div class="page-content page-container" id="page-content">
		<div class="padding">
			<div class="row">
				<div class="col-md-6">

					<div class="card">
						<div class="card-header"><strong>Add Detail</strong></div>
						<div class="card-body">
							<form method="post" th:action="@{/songDetail/add}" enctype="multipart/form-data"
								onsubmit="return validateForm()">
								<div class="form-group row"><label class="col-sm-4 col-form-label">Title</label>
									<div class="col-sm-8"><input type="text" class="form-control"
											th:field="${songDetail.title}"></div>
								</div>

								<div class="form-group row"><label class="col-sm-4 col-form-label">Lyric</label>
									<div class="col-sm-8"><textarea class="form-control" rows="7"
											th:field="${songDetail.lyric}"></textarea></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Author</label>
									<div class="col-sm-8"><input type="text" class="form-control circle"
											th:field="${author.authorName}"></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Singer</label>
									<div class="col-lg-4"><select multiple="multiple" class="form-control" name="singerIds">
											<option th:each="singer : ${singers}" th:value="${singer.singerId}"
												th:text="${singer.singerName}"></option>
										</select></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">SongTime</label>
									<div class="col-sm-8"><input type="text" class="form-control"
											th:field="${songDetail.songTime}"></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Category</label>
									<div class="col-sm-8"><select class="custom-select"
											th:field="${category.categoryId}">
											<option th:each="category : ${categories}" th:value="${category.categoryId}"
												th:text="${category.categoryName}"></option>
										</select></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Album</label>
									<div class="col-sm-8"><select class="custom-select" th:field="${album.albumId}">
											<option th:each="album : ${albums}" th:value="${album.albumId}"
												th:text="${album.albumName}"></option>
										</select></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Status</label>
									<div class="col-sm-8"><select class="custom-select" th:field="${songDetail.status}">
											<option value="1">1</option>
											<option value="2">2</option>
										</select></div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Photo</label>
									<div class="col-sm-8">
										<div class="custom-file"><input type="file" class="custom-file-input"
												id="customFile" name="fileImage"><label class="custom-file-label"
												for="customFile">Choose
												image</label></div>
									</div>
								</div>
								<div class="form-group row"><label class="col-sm-4 col-form-label">Song</label>
									<div class="col-sm-8">
										<div class="custom-file"><input type="file" class="custom-file-input"
												id="customFile" name="fileMusic"><label class="custom-file-label"
												for="customFile">Choose
												music</label></div>
									</div>
								</div>
								<div class="form-group row"><label class="col-sm-3"></label>
									<div class="col-sm-9"><button type="submit" id="btn-save"
											class="btn gd-primary text-white btn-rounded" value="Save">Save</button></div>
								</div>
								<input type="hidden" th:field="*{loggedInUser.accountId}">
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>