<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index 2</title>
</head>
<body>

	<h3>Index 2</h3>
	<img th:src="@{/assets/images/thumb1.gif}" width="70" height="70" class="photo"> 
	<img th:src="@{/assets/images/thumb2.gif}" width="70" height="70" class="photo">
	<img th:src="@{/assets/images/thumb3.gif}" width="70" height="70" class="photo">
	<div th:fragment="fragment2">Fragment 2</div>
	<div th:fragment="content(title, contentMain)">
		Title: <th:block th:text="${title}"></th:block>
		<br>
		<div th:replace="${contentMain}"></div>
	</div>
	
</body>
</html>