<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>
<body>
    <h2>New Password</h2>
    <form method="post" th:action="@{/account/newPassword}">
        <input type="hidden" th:field="${account.email}">
        
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="confirmPassword">Confirm New Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
    
    <script>
        // Kiểm tra hai mật khẩu có khớp nhau không
        document.querySelector('form').addEventListener('submit', function(event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                alert("Mật khẩu xác nhận không khớp. Vui lòng nhập lại.");
                event.preventDefault(); // Ngăn chặn việc submit form
            }
        });
    </script>
</body>
</html>
