<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{template/authen :: renderBody('New Password', ~{this::.card-body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="card-body">
		<form method="post" th:action="@{/account/newPassword}" id="form">
			<input type="hidden" th:field="${account.email}">


			<div class="input-group mb-3">
				<input type="password" id="password" class="form-control" placeholder="Password" name="password"
					required>
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>

			<div class="input-group mb-3">
				<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm New Password"
					name="confirmPassword" required>
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-12">
					<input type="submit" style="width: 100%" class="btn btn-primary btn-block" value="Sign in" />
				</div>
			</div>
		</form>
	</div>

	<script>
		// Kiểm tra hai mật khẩu có khớp nhau không
		document.querySelector('form').addEventListener('submit', function (event) {
			var password = document.getElementById('password').value;
			var confirmPassword = document.getElementById('confirmPassword').value;

			if (password !== confirmPassword) {
				alert("Mật khẩu xác nhận không khớp. Vui lòng nhập lại.");
				event.preventDefault(); // Ngăn chặn việc submit form
			}
		});
	</script>
</body>

</html>