<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
</head>
<body>

	<th:block th:each="language : ${@languageJPAService.findAll()}">
		<a th:href="@{'/productlanguage/index?lang=' + ${language.languageId} + '_' + ${language.countryId}}">
			<img th:src="@{'/assets/images/' + ${language.flag}}" width="50" height="50">
		</a>
	</th:block>

	<table border="1">
		<tr>
			<th><th:block th:text="#{id}"></th:block></th>
			<th><th:block th:text="#{name}"></th:block></th>
			<th><th:block th:text="#{description}"></th:block></th>
			<th><th:block th:text="#{photo}"></th:block></th>
			<th><th:block th:text="#{created}"></th:block></th>
			<th><th:block th:text="#{price}"></th:block></th>
			<th><th:block th:text="#{quantity}"></th:block></th>
			<th><th:block th:text="#{category_id}"></th:block></th>
			<th><th:block th:text="#{category_name}"></th:block></th>
			<th><th:block th:text="#{action}"></th:block></th>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.id}"></td>
			<td>
				<a th:href="@{'/productjpa/details/' + ${product.id}}" 
					th:text="${@productLanguageService.find(#locale, product.id).name}"></a>
			</td>
			<td th:text="${@productLanguageService.find(#locale, product.id).description}"></td>
			<td th:text="${#dates.format(product.created, 'dd/MM/yyyy')}"></td>
			<td>
				<a th:href="@{'/product/details/' + ${product.id}}">
					<img th:src="@{'/assets/images/' + ${product.photo}}" 
						width="120" height="100">
				</a>
			</td>
			<td th:text="${#numbers.formatCurrency(product.price)}"></td>
			<td th:text="${#numbers.formatInteger(product.quantity, 0-3, 'DEFAULT')}"></td>
			<td th:text="${product.category.id}"></td>
			<td th:text="${product.category.name}"></td>
			<td align="center">
				<a href="#"><th:block th:text="#{edit}"></th:block></a> | 
				<a href="#"><th:block th:text="#{delete}"></th:block></a>
			</td>
		</tr>
	</table>

</body>
</html>